@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@300&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: none;
  background: #36b37f;
  border-radius: 4px;
}

button:hover {
  background-color: #36b37f;
}

button:active {
  background-color: #008552;
}

body {
  font-family: 'Inter', sans-serif;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
}

.nav-menu {
  display: none;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

nav ul li a {
  color: #344563;
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  transition: all 0.3s ease-in-out;
}

#mobile-menu {
  display: none;
  position: fixed;
  background: #f7f7f9;
  width: 100vw;
  height: 100vh;
}

#mobile-menu #cancel-toolbar {
  margin-top: 44px;
  display: flex;
  justify-content: flex-end;
}

#mobile-menu #list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 95%;
  padding-left: 12px;
}

#mobile-menu #list .list-item {
  width: 100%;
  border-radius: 8px;
}

.headline {
  background-image: url(./images/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headline h1 {
  color: #36b37e;
  line-height: 130%;
  font-weight: 700;
  font-size: 40px;
}

.headline h1 span {
  color: #172b4d;
  font-weight: 700;
  margin: auto 15%;
  display: flex;
}

.headline p {
  width: 85%;
  margin-top: 15px;
  line-height: 140%;
  font-size: 20px;
  color: #172b4d;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  align-items: baseline;
}

.disabled {
  margin-top: 80.49px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

#contact h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  width: 98%;
}

#works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: scroll;
}

#works {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 95%;
}

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.work-card img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ensure images do not exceed a certain height */
  object-fit: cover; /* Ensure images cover the area without distortion */
  border-radius: 8px;
}

.work-card ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card li {
  background: #ebf0ee;
  padding: 4px 8px;
  border-radius: 4px;
}

.work-card a {
  margin-top: 8px;
  text-decoration: none;
  color: #007bff;
}

.mobile-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: #c1c7d0;
  overflow: auto;
  z-index: 999;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 92%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: auto;
  position: absolute;
  top: 20px;
  left: 16px;
  right: 16px;
}

#mobile-menu #list .list-item a {
  margin: 16px 16px;
  width: 50%;
  font-weight: 600;
  font-size: 32px;
  line-height: 138%;
  display: flex;
  align-items: center;
  color: #3a4a42;
}

.featured-image {
  width: 100%;
}

.featured-image #img1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primary h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 138%;
  color: #172b4d;
}

.primary .tags {
  justify-content: flex-start;
}

.secondary {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}

.action {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.action .see-live,
.action .see-source {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  background: #36b37f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.action .see-live span,
.action .see-source span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action .see-live:hover,
.action .see-source:hover {
  background-color: #008552;
}

#works .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

#works .text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #172b4d;
  width: 65%;
}

.indicator {
  width: 12.6%;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
}

.card-work-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  align-items: center;
  padding: 4px 2px;
  gap: 24px;
}

.card-work-row article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 474px;
}

article.card div.text {
  padding: 16px;
  background: #fff;
  border-radius: 8px;
}

.img-placeholder {
  width: 100%;
  height: 100%;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  overflow: hidden;
}

.img-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.action .see-live img,
.action .see-source img {
  width: 16px;
  height: 16px;
}

#mobile-menu #cancel-toolbar img {
  margin-right: 24px;
}

article.card div.text h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #3a4a42;
}

.card .text .tags {
  height: 32px;
}

.tags li {
  align-items: center;
  padding: 8px 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  background: #ebf0ee;
  border-radius: 4px;
}

.see-project {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

#about {
  background-image: url(./images/frame-about-me-mobile-left.png), url(./images/frame-about-me-mobile-right.png);
  background-repeat: no-repeat;
  background-position: left top 24%, right top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 3.5rem;
  height: auto;
}

#about div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 338px;
}

#about .text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #172b4d;
}

#about div.text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #42526e;
}

#about p span {
  display: block;
}

.card-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: auto;
}

.card-row .item {
  width: 100%;
  height: 100%;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.card-row figure {
  height: 128px;
  text-align: center;
  top: 16px;
}

#about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0.5rem 0;
  height: auto;
}

.about-section li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

#about .content li {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  align-items: center;
  padding: 12px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 4rem 1.5rem;
  gap: 3rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

#contact form .detail {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  background: #fff;
}

#contact form input {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #6b778c;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

#contact form .message {
  box-sizing: border-box;
  border: 1px solid #60c095;
  border-radius: 4px;
  padding: 0.2rem;
  background: #fff;
}

#contact form textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #42526e;
  height: 8rem;
  border: none;
  padding: 0.5rem;
}

#contact form textarea::placeholder {
  padding: 0.4rem;
}

.form-button {
  display: flex;
  justify-content: center;
  width: 50%;
}

.footer-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  margin-bottom: 29px;
  margin-top: 31px;
  color: #42526e;
}

footer .social-icons {
  margin-bottom: 2rem;
}

footer hr {
  height: 0.4rem;
  border-radius: 6px;
  background-color: black;
  margin: 0 36.5% 0 36.5%;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    width: 100vw;
    justify-content: center;
    position: absolute;
  }

  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    font-size: 1.2rem;
  }

  .flex-nav {
    justify-content: center;
  }

  nav ul li a {
    transition: all 0.3s ease-in-out;
  }

  nav ul li a:hover {
    color: #9b4dca;
  }

  .headline {
    background-image: url(./images/Header-llustration-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    padding: 160px 0;
    gap: 24px;
  }

  .headline h1 {
    width: 85%;
    font-weight: 800;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.37px;
    margin-top: 0;
    margin-left: 18%;
    margin-right: 18%;
  }

  .headline h1 br {
    display: none;
  }

  .headline h1 span {
    color: #172b4d;
    justify-content: center;
  }

  .headline p {
    width: 55%;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #172b4d;
  }

  .social-icons {
    justify-content: space-between;
    width: 200px;
    height: 40px;
    margin-top: 24px;
  }

  .disabled {
    margin-top: auto;
  }

  /* #works {
    padding: 80px 0;
    gap: 48px;
    margin-left: 3%;
    margin-right: 3%;
    width: 95%;
  } */

  .card-works {
    width: 80%;
  }

  .featured-image #img1 {
    margin-top: 75px;
  }

  .primary-and-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .primary {
    width: 60%;
  }

  .action {
    width: 38%;
    justify-content: flex-end;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 12px;
  }

  .action .see-live,
  .action .see-source {
    padding: 2% 2%;
    gap: 10px;
    height: 44px;
    max-width: 115px;
    flex-wrap: wrap;
  }

  .action .see {
    font-size: 15px;
    flex: 1;
  }

  #works .text {
    height: 100%;
  }

  .indicator {
    display: none;
  }

  .card-work-row {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: minmax(20rem, auto);
    padding: 1rem;
    align-items: center;
    width: auto;
  }

  .card-work-row article {
    width: auto;
    height: 474px;
  }

  article.card div.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
    background: #fff;
    border-radius: 8px;
    width: 369px;
    height: 222px;
  }

  .action .see img {
    font-size: 100%;
  }

  article.card div.text h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #172b4d;
  }

  .tags {
    margin-bottom: 24px;
  }

  .tags li {
    padding: 8px 12px;
    background: #ebf0ee;
    border-radius: 4px;
  }

  .see-project {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  #about {
    background-image: url(./images/illustration-about-me-2-desktop.png), url(./images/frame-about-me.png);
    background-repeat: no-repeat;
    background-position: left top 30%, right top -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem;
    gap: 3rem;
    width: 100vw;
  }

  #about div.text {
    width: 60%;
  }

  #about div.text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #42526e;
  }

  #about .content li {
    padding: 12px;
  }

  .card-row {
    flex-direction: row;
    align-items: stretch;
    padding: 0.5rem;
    width: 85%;
    height: auto;
    justify-content: space-around;
  }

  .card-row .item {
    flex-grow: 1;
  }

  .card-row figure {
    height: 128px;
    text-align: center;
    top: 16px;
  }

  #about .content {
    height: auto;
  }

  #contact {
    background-image: url(./images/illustration-1-contact-form-desktop.png), url(./images/illustration-2-contact-form-desktop.png), url(./images/form-illustratoin-3-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom 18% left, bottom 25% left 20%, bottom 19% right;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 0;
    gap: 24px;
    margin-top: 17.5px;
    width: 100vw;
    height: auto;
  }

  #contact h2 {
    margin: 0;
    display: flex;
    align-items: center;
    width: 40%;
    height: 256px;
    padding: 16% 0 16% 0;
    font-size: 32px;
    line-height: 173%;
    text-align: left;
    margin-left: 10%;
  }

  #contact form {
    width: 60%;
    margin-right: 10%;
  }

  #contact form .message {
    width: 100%;
  }

  #contact ul {
    align-items: flex-start;
  }

  .form-button {
    justify-content: flex-start;
    padding: 0;
  }

  input::placeholder {
    transition: transform 0.2s ease;
  }

  input:hover::placeholder {
    transform: translateX(10px);
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dfe1e6;
  }

  .footer-text {
    display: none;
  }

  footer hr {
    display: none;
  }

  footer .social-icons {
    margin-bottom: 0;
  }
}

.cancel_abs {
  position: absolute;
  right: 0%;
  width: 60px;
  top: 0%;
}

.close-popup-desktop {
  position: absolute;
  right: 12.5%;
  width: 40px;
  top: 50px;
  z-index: 5;
}

.error {
  border: 1px solid red;
}

.success {
  border: 1px solid rgb(75, 31, 217);
}

.error-message {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #6b778c;
  border: none;
  padding: 0.2rem;
}
